a {
  color: #000000;
}

.centered {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 30%;
  margin: auto;
}

.back {
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}
