.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.m-underline {
  cursor: pointer;
  color: #000000;
  background-image: linear-gradient(15deg, #8D191D 0%, #E3A578 70%);
  background-repeat: no-repeat;
  background-size: 100% .2em;
  background-position: 0 85%;
  transition: background-size .25s linear, color .2s linear;
  text-decoration: none;
  padding: 3px;
}
.m-underline:hover {
  color: #000000;
  background-size: 100% 95%;
}
.m-underline-large {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  background-image: linear-gradient(15deg, #8D191D 0%, #E3A578 70%);
  background-repeat: no-repeat;
  background-size: 0% 0;
  background-position: 0 85%;
  transition: background-size .25s linear, color .2s linear;
  padding: 3px;
}
.m-underline-large:hover {
  color: #ffffff;
  background-size: 100% 150%;
}
.special-underline {
  cursor: pointer;
  color: #000000;
  background-image: linear-gradient(15deg, #8D191D 0%, #E3A578 70%);
  background-repeat: no-repeat;
  background-size: 100% 75%;
  background-position: 0 85%;
  transition: background-size .25s linear, color .2s linear;
  text-decoration: none;
  padding: 3px;
}
.default {cursor: default;}
.centered {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 30%;
  margin-left: 25%;
  margin-top: 100px;
}

.back {
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  float: left;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont {
    width: auto;
}
.first {
    width: auto;
    float: left;
    height: auto;
}
.second {
    width: auto;
    float: left;
    margin-top: 150px;
    margin-left: 20px;
    margin-bottom: 30px;
    height: auto;
}
.third {
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 30px;
    height: auto;
}
.fourth {
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 30px;
    height: auto;
}
.fifth {
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 30px;
    height: auto;
}
.clear {
    clear: both;
}
.firstt {
    width: auto;
    float: left;
    height: auto;
}
.secondt {
  width: auto;
  float: left;
  height: auto;
}
body {
  font-family: 'Lato', sans-serif;
}

.addtlInfo {
  display: none;
}

.info-paragraph {
  width: 300px;
}

.dates {
  color: #E3A578;
}

.audio {
  color: #E3A578;
  cursor: url(myBall.cur),auto;
}

.tan {
    background-color: #E3A578;
}

.red {
    background-color: #8D191D;
}

.name {
  color: #E3A578;
  text-align: center;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-top: 10px;
  color: #000000;
  background-image: linear-gradient(15deg, #8D191D 0%, #E3A578 70%);
  background-repeat: no-repeat;
  background-size: 100% 15%;
  background-position: 0 85%;
  text-decoration: none;
  padding: 3px;
}

.figc {
  text-decoration: none;
}
