.m-underline {
  cursor: pointer;
  color: #000000;
  background-image: linear-gradient(15deg, #8D191D 0%, #E3A578 70%);
  background-repeat: no-repeat;
  background-size: 100% .2em;
  background-position: 0 85%;
  transition: background-size .25s linear, color .2s linear;
  text-decoration: none;
  padding: 3px;
}
.m-underline:hover {
  color: #000000;
  background-size: 100% 95%;
}

.centered {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 30%;
  margin: auto;
}

.back {
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  float: left;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont {
    width: auto;
}
.first {
    width: auto;
    float: left;
    height: auto;
}
.second {
    width: auto;
    float: left;
    margin-top: 150px;
    margin-left: 20px;
    height: auto;
}
.third {
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 150px;
    height: auto;
}
.clear {
    clear: both;
}

body {
  font-family: 'Lato', sans-serif;
}

.addtlInfo {
  display: none;
}
